<template>
  <div class="chat">
    <!--  Se pone el nombre de usuario obtenido desde nuestro data, se agrega una funcion para en el momento que se haga click mande al perfil del usuario  -->
    <div class="user-info" @click="goToUser ">{{ this.username }}</div>
    <!--  Se delimita donde se mostraran los mensajes  -->
    <div class="message-container" ref="messageContainer">
      <!--   Se hace un v-for recorriendo todos los mensajes obtenidos, verficando si el mensaje es enviado por el usuario verifiacado, si es asi cambia el estilo   -->
      <div class="message" v-for="message in messages" :key="message.id" :class="{'sent': isSentMessage(message)}">
        <!--   Contenido del mensaje     -->
        <div class="content">{{ message.content }}</div>
        <!--    Se da un formato a la fecha que tenemos del mensaje    -->
        <div class="time">{{ formatTime(message.timeStamp) }}</div>
      </div>
    </div>
    <!--  Se define el contendor de nuestro input  -->
    <div class="input-container">
      <!--   Se define nuestro input, agregandole un v-model y el evento @keyup.enter, para en el momento que se haga enter efectue el mentodo , place holder agregado  -->
      <input type="text" v-model="newMessage" @keyup.enter="sendMessage" placeholder="Escribe un mensaje" />
      <!--   Boton que invoca el evento enviar mensaje   -->
      <button @click="sendMessage" style="background-color: #e6f2ff">Enviar</button>
    </div>
  </div>
</template>

<script>
import {useRoute} from "vue-router";
import axios from "axios";

export default {
  data() {
    return {
      messages: [

      ],
      // Se utiliza para v-model
      newMessage: "",
      // Se obtiene el usuario verficado
      currentUser: localStorage.getItem("userId"),
      // PlaceHolder de usuario al que se le envian
      userSent: 1,
      //  PlaceHolder username
      username: "",
      // Se obtiene el token
      bearer: localStorage.getItem("token"),
    };
  },
  beforeMount() {
    const route = useRoute()
    // Se obtiene usuario de la ruta
    this.userSent = route.params.userId
    this.getMessages()
    this.getUserName()
  }
  ,
  mounted() {
    // En el momento que llega a mounted se aplica esta funcion
    this.scrollToBottom();
  },
  methods: {
    // Se dirige al usuario obtenido previamente
    goToUser(){
      this.$router.push({ name: "profileView", params: { userId: this.userSent} });
    },
    // Obtiene todos los mensajes con el usuario obtenido por ruta
    async getMessages() {
      const messages = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/messages/${this.userSent}`, {
        headers: {
          Authorization: "Bearer " + "" + this.bearer
        }
      })
      // Hace verificacion de que no efectivamente , haya mensajes
      this.messages = messages?.data ?? null;
      // Llamama funcion
      this.scrollToBottom()

    },
    // Obtiene el nombre de la persona con la que se abre el chat
    async getUserName(){
      const user = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/users/${this.userSent}`, {
        headers: {
          Authorization: "Bearer " + "" + this.bearer
        }
      })
      // Se hace la concatenacion de nombre y apellido
      this.username = user.data.name + " " + user.data.last_name

    },
    // Da formanto al texto, reciviendo un timestamp y regresando un string con el contendio 00H:00M
    formatTime(timeStamp) {
      const date = new Date(timeStamp);
      return `${date.getHours()}:${date.getMinutes()}`;
    },
    // Verifica si nuestro usuario autenticado mando el mensaje, regresa un booleano
    isSentMessage(message) {
      return message.user_id_send == this.currentUser;
    },
    // Se envia mensaje
    async sendMessage() {
      // Verifica que el mensaje no esté vacío
      if (this.newMessage.trim() !== "") {
        const newMessage = {
          id: this.messages.length + 1,
          content: this.newMessage,
          user_id_send: this.currentUser,
          user_id_recived: this.userSent, // ID del usuario receptor (ajustar según tus necesidades)
        };

        await axios.post("https://balandrau.salle.url.edu/i3/socialgift/api/v1/messages", newMessage, {
          headers: {
            Authorization: "Bearer " + "" + this.bearer
          }
        })
        // Reinicia el mensaje
        this.newMessage = "";
        // Ejecuta funcion
        this.scrollToBottom();
        // Obtiene los mensajes despues de mandar el nuestro
        this.getMessages()
      }
    },
    // Ajusta nuestra scrollbar dentro de chats para siempre aparecer en el ultimo mensaje enviado o recivido
    scrollToBottom() {
      this.$nextTick(() => {
        const messageContainer = this.$refs.messageContainer;
        messageContainer.scrollTop = messageContainer.scrollHeight;
      });
    }
  }
};
</script>


<style scoped>
.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.user-info {
  text-align: center;
  font-weight: bold;
  margin: 10px 0;
}

.message-container {
  flex-grow: 1;
  overflow-y: auto;
}

.message {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.message.sent {
  background-color: #e6f2ff;
  align-self: flex-end;
}

.content {
  font-size: 16px;
}

.time {
  font-size: 12px;
  color: gray;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ccc;
  bottom: 0;
  width: 100%;
}

input {
  flex-grow: 1;
  width: 100vw;
  padding: 5px;
}

button {
  padding: 5px 10px;
}
</style>