<template>
<!--  Definicion de toda la pantall la cual ocuapara el 100% de la altura-->
<div class ="container">
  <!-- Al solo querer que las friend request solo puedas ver las tuyas , se desactiva de la lista de amigos si no es el propietario del perfil  -->
  <div class = "friendRequest" v-if="isOwner">
    <h3>FriendsRequest</h3>
    <div v-for="user in friendsRequest.data" :key="user.id">
      <div class="user-container">
        <div class="profile-pic">
          <img :src="user.image" alt="Profile Picture" />
        </div>
        <div class="user-details">
          <h3 @click = "this.goToUser(user.id)">{{ user.name + " " + user.last_name }}</h3>
        </div>
        <div class="imageContainer">
          <img src="https://cdn.pixabay.com/photo/2016/03/31/14/37/check-mark-1292787_1280.png" alt="acceptFriendRequest" @click="this.acceptRequest(user.id)">
          <img src="https://cdn.pixabay.com/photo/2014/03/24/13/45/incorrect-294245_960_720.png" alt="deniedFriendRequest" @click="this.deniedRequest(user.id)">
        </div>
      </div>
    </div>
  </div>

  <div class="friendList">
    <h3>Friends</h3>
    <div v-for="user in friends.data" :key="user.id">
      <div class="user-container">
        <div class="profile-pic">
          <img :src="user.image" alt="Profile Picture" />
        </div>
        <div class="user-details">
          <h3 @click = "this.goToUser(user.id)">{{ user.name + " " + user.last_name }}</h3>
        </div>
        <!--    Solo se podra eliminar un amigo si eres el propietario del perfil    -->
        <div class="imageContainer" v-if="isOwner">
          <img src="https://cdn.pixabay.com/photo/2014/03/24/13/45/incorrect-294245_960_720.png" alt="deniedFriendRequest" @click="this.deleteFriend(user.id)">
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from "axios";
import {useRoute} from "vue-router";

export default {
  beforeMount() {
    const route = useRoute()
    // Se obtiene el propietario del perfil por param
    this.ownerId = route.params.userId
    // Se hace una comprobacion de si es el dueño, comparando con con el id que tenemos guardado nuestro
    this.isOwner = this.ownerId == this.userId
    this.getUsersRequest()
    this.getFriends()

    },
  name: "FriendsView",
  data(){
    return {
      // Obtencion de token
      bearer: localStorage.getItem("token"),
      friendsRequest: [],
      friends:[],
      ownerId: 0,
      isOwner: false,
      // Obtencion del id del usuario verificado
      userId: localStorage.getItem("userId"),

    }
  },
  methods: {
    // Peticion para obtener las solicitudes de amistad
    async getUsersRequest() {
      this.friendsRequest = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/friends/requests`, {
        headers: {
          Authorization: "Bearer " + "" + this.bearer
        }
      })
    },
    // Peticion para obtener los amigos del usuario por id
    async getFriends(){
      this.friends = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/users/${this.ownerId}/friends`, {
        headers: {
          Authorization: "Bearer " + "" + this.bearer
        }
      })
    },
    // Ir a la pantalla de perfil del usuario por id
    goToUser(user_id){
      this.$router.push({ name: "profileView", params: { userId: user_id} });

    },
    // Borrar un amigo por id
    async deleteFriend(userId){
      await axios.delete(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/friends/`+ userId, {
        headers: {
          Authorization: "Bearer " + this.bearer
        }
      })
      alert("Solicitud Eliminada")

    },
    //  Aceptar solicitud por id
    async acceptRequest(userId){
      await axios.put(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/friends/`+ userId ,null,{
        headers: {
          Authorization: "Bearer "  + this.bearer
        }
      })
      alert("Amigo aceptado")

    },
    // Denegar solicitud por id
    async deniedRequest(userId){
      await axios.delete(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/friends/`+ userId, {
        headers: {
          Authorization: "Bearer " + this.bearer
        }
      })
      alert("Solicitud Eliminada")
    }
  }
}
</script>

<style scoped>

.container{
  padding-left: 0;
  height: 100%;
}
.friendRequest{
}
.friendRequest h3,
.friendList h3 {
  text-align: left;
  padding-bottom: 10px;

}
.imageContainer {
  margin-top: auto;
  display: flex;
  gap: 10px;
  width: 50%;
  justify-content: flex-end;
}
.imageContainer img {
  height: 20px;
  width: 20px;

  padding-right: 20px;
}
/*Al hacer hover en el img dentro de imageContaiener se subrayara el hara un zoom a la imagen*/

.imageContainer img:hover {
  transform: scale(1.3);
}

.user-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-details {
  padding-left: 2%;
  width: 50%;
}
.user-details h3{
  text-align: start;
}
/*Al hacer hover en el h3 dentro de user-details se subrayara el texto*/
.user-details h3:hover {
  text-decoration: underline;
}
</style>