<script setup>
import NavBarComponent from "@/components/NavbarComponent.vue";
import ChatsComponent from "@/components/ChatsComponent.vue";
import { ref, onMounted } from 'vue';

const isLoading = ref(true);

// Lógica para cargar los datos
async function loadData() {
  // timer para dar tiempo a cargar
  await new Promise(resolve => setTimeout(resolve, 1));

  // Una vez que los datos se han cargado, cambiar el valor de isLoading a false
  isLoading.value = false;
}

// Llamar a loadData al hacer clic en cualquier parte
function handleClick() {
  loadData();
}

// Llamar a loadData al iniciar el componente
onMounted(loadData);
</script>
<template>
  <div class="home">
    <div class="navbar" @click="handleClick">
      <!--      Se agrega navBar      -->
      <NavBarComponent/>
    </div>
    <div class="content">
      <!--   Se agrega para definir y separar ambas parte del home, esta tiene el 80%   -->
      <div class="updates">
        <!--   Se verifica si se cumple la condición     -->
        <template v-if="isLoading">
        </template>
        <template v-else>
          <router-view/>
        </template>
      </div>
      <!--   Se agrega para definir y separar ambas parte del home, esta tiene el 20%   -->
      <div class="chats">
        <chats-component/>
      </div>
    </div>
  </div>
</template>


<style >
.home {
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 0px;
  /* Estilos adicionales para la barra de navegación */
}

.content {
  display: flex;
  flex-direction: row;
}

.updates {
  padding: 10px;
  width: 80%;
  /* Estilos adicionales para la sección de actualizaciones */
}

.chats {
  padding: 10px;
  width: 20%;
  height: 100%;
  /* Estilos adicionales para la sección de chats */
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .content {
    flex-direction: column;
  }

  .updates,
  .chats {
    flex: none;
  }
}
</style>






