<template>
  <div>
    <div class="header">
      <h1>Productos</h1>
    </div>
    <div class="container" v-for="item in items.data" :key="item.id">
      <item-component :id="item.id" :name="item.name" :price="item.price" :description="item.description" :url="this.url + item.id" :photo="item.photo"></item-component>
    </div>
  </div>
</template>

<script>
import ItemComponent from "@/components/ItemComponent.vue";
import axios from "axios";
export default {
  beforeMount() {
    this.getItems()
  },
  name: "ItemsView",
  components: {ItemComponent},
  data(){
    return{
      items: null,
      url: "https://balandrau.salle.url.edu/i3/mercadoexpress/api/v1/products/"
    }
  },
  methods: {
    async getItems(){
      this.items = await axios.get("https://balandrau.salle.url.edu/i3/mercadoexpress/api/v1/products")
      console.log(this.items)
    }
  }
}
</script>

<style scoped>

@media (max-width: 768px) {
  .header {
    font-size: 20px;
  }

  .container {
    flex-wrap: wrap;
  }
}
.container {
  margin-left: 10px;
  display: flex;
  -webkit-flex-direction: column;
}
.header {
}

.hide {
  visibility: hidden !important;
}

</style>
