<template>
  <router-view>
  <div class="main">
    <h1>Iniciar Sesión</h1>
    <input
        type="text"
        name="email"
        id="emailField"
        v-model="user"
        placeholder="Correo Electronico"
        :style="input"
    />
    <input
        type="password"
        name="password"
        id="passwordField"
        v-model="password"
        placeholder="Contraseña"
        :style="input"
    />
    <input
        type="button"
        value="Iniciar sesión"
        class="button"
        :style="inputStyle"
        @click=login()
    />
    <h4>No tienes cuenta? <router-link to="/signup">Registate</router-link></h4>
  </div>
  </router-view>
</template>

<script>
import router from "@/router";
import axios from "axios";
import jwt_decode from "jwt-decode";

export default {
  name: "LoginView",
  data(){
    return{
      user:null,
      password:null,
      decoded: null
    }
  },
  methods:{
    async login(){
      const user = await axios.post("https://balandrau.salle.url.edu/i3/socialgift/api/v1/users/login", {
        email: this.user,
        password: this.password
      })
      if(this.user === null || this.password === null){
        alert("Ingresa usuario y contraseña")
      }
      else {
        if(user.status === 200){
          localStorage.setItem("token", user.data.accessToken)
          this.decoded = jwt_decode(user.data.accessToken);
          localStorage.setItem("userId", this.decoded.id)
          await router.push('/')
        } else {
          alert("Usuario y/o Contraseña incorrectos")
        }
      }
    },
  }
}
</script>

<style scoped>
@import '@/assets/loginAndSignUp.css';
</style>
