<template>
<!--  En la vista de perfil se muestra la informacion en la car del usuario y sus wishlist-->
  <div class="container">
    <div class="user">
      <user-card-component :owner="this.self" :id="this.user.data.id" :profile_image=" this.user.data.image" :user_name="this.user.data.name" :email="this.user.data.email" :image="this.user.data.image" :friends_counter = "this.friendscounter.data.length" ></user-card-component>
    </div>
  </div>
<!--  Este div unicamente aparece si el usuario autenticado accede a su perfil ya que afecta directamente al perfil-->
  <div class="manage-profile" v-if="self">
    <button class="square-button edit-button" @click="showEdit = true">Editar Perfil</button>
    <button class="square-button delete-button" @click="showDelete = true">Eliminar Perfil</button>
  </div>

  <div class="button-container" v-if="self">
    <button class="button" @click="showModal = true">Crear Wishlist</button>
<!--    Para ir a la vista de los regalos reservados se utiliza un router link pasando como parametro el userId-->
    <router-link
        :to="{name: 'reservedItemsView', params:{ userId: this.userId}}"
        v-slot="{ navigate }"
    >
      <button
          @click="navigate"
          role="link"
          class="button"
      >
        Regalos Reservados
      </button>
    </router-link>
  </div>
<!--  El div de las wishlist nos permite hacer un scroll horizontal para ver la lista de wishlist-->
  <div class="wishlists">
    <router-link  class="slider-item" :to="{name: 'wishlistView', params:{ wishlistId: wishlist.id}}" style="text-decoration: none; color: inherit;" v-for="wishlist in wishlists.data" :key="wishlist.id">
      <a>
        <wishlist-card-component :name="wishlist.name" :description="wishlist.description" :end_date="String(dateFormater(wishlist.end_date))"></wishlist-card-component>
      </a>
    </router-link>
  </div>
<!--  A continuacion se encuentran los componentes de los modales, los cuales se muestran unicamente si se cumple la condicion correspondiente-->
  <modal v-if="showModal" @close="showModal = false">
  </modal>
  <create-wishlist-modal-component v-if="showModal" @close="showModal = false">
  </create-wishlist-modal-component>
  <EditProfileComponent v-if="showEdit" @close="showEdit = false"></EditProfileComponent>
  <delete-profile-confirmation v-if="showDelete" @close="showDelete = false"/>
</template>


<script>
import UserCardComponent from "@/components/UserCard.vue";
import WishlistCardComponent from "@/components/WishlistCardComponent.vue";
import axios from "axios";
import moment from "moment"
import {useRoute} from 'vue-router'
import CreateWishlistModalComponent from "@/components/CreateWishlistModalComponent.vue";
import EditProfileComponent from "@/components/EditProfileComponent.vue";
import DeleteProfileConfirmation from "@/components/DeleteProfileConfirmation.vue";
export default {
  beforeMount() {
    this.getUserInfo()
  },
  mounted() {
    this.$forceUpdate()
  },
  name: "ProfileView",
  components: {
    DeleteProfileConfirmation,
    EditProfileComponent, CreateWishlistModalComponent, WishlistCardComponent, UserCardComponent},
  data(){
    return{
      wishlists: null,
      bearer: localStorage.getItem("token"),
      user: null,
      userId: localStorage.getItem("userId"),
      friendscounter:null,
      showModal: false,
      showEdit: false,
      showDelete: false,
      self: false,
    }
  },
  methods:{
    async getUserInfo(){
      //En este metodo se obtiene la informacion del usuario y sus wishlist
      const route = useRoute()
      const id = route.params.userId
      this.user = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/users/${id}`, {
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
      this.wishlists = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/users/${id}/wishlists`,{
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
      //Tambien obtenemos el numero de amigos que tiene un usuario
      await this.getFriendsCount(id)
      //Aqui se determina si el usuario autenticado esta viendo el perfil o alguien mas
      if(this.userId === id){
        this.self = true
      } else{
        this.self = false
      }
    },
    // Se obtiene los amigos por id
    async getFriendsCount(id){
      this.friendscounter = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/users/${id}/friends`,{
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
    },
    // Funcion para hacer dar formato a la fecha recivida, recive una fecha
    dateFormater(date){
      return moment(date).format('YYYY-MM-DD')
    }
  }
}
</script>

<style scoped>
.user{

}
.wishlists{
  display: flex;
  overflow-x: scroll; /* Con el overflow en el eje x podemos realizar el scroll de las wishlist */
  scroll-behavior: smooth;
  white-space: nowrap;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-right: 20px;
}

.button {
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  width: 125px;
}

.button:hover {
  background-color: skyblue;
}

.button-container button {
  margin-right: 10px;
}

.button-container button:last-child {
  margin-right: 0;
}

.manage-profile {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.square-button {
  width: 125px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  width: 125px;
}

.edit-button {
  background-color: lightyellow;
  color: #333;
}

.delete-button {
  background-color: lightcoral;
  color: #fff;
}
</style>
