<template>
<!--  Este componente incluye una lista de los items que el usuario autenticado a reservado, se usa el v-for para recorrer el arreglo de items-->
  <div class="items-container">
    <reserved-item-component
        v-for="item in items.data"
        :key="item.id"
        :id="item.id"
        :priority="item.priority"
        :product_url="item.product_url"
        :booked="item.booked"
    ></reserved-item-component>
  </div>
</template>

<script>
import axios from "axios";
import ReservedItemComponent from "@/components/ReservedItemComponent.vue";

export default {
  beforeMount() {
    this.getReservedItems()
  },
  name: "ReservedItemsView",
  components: {ReservedItemComponent},
  data(){
    return{
      userId: localStorage.getItem("userId"),
      bearer: localStorage.getItem("token"),
      items: [],
    }
  },
  methods:{
    async getReservedItems(){
      this.items = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/users/${this.userId}/gifts/reserved`, {
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
    }
  }
}
</script>

<style scoped>
.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styles for reserved items */
.items {
  width: 50%;
  padding: 10px;
}

/* Styles for mobile screens */
@media (max-width: 768px) {
  .items {
    width: 100%;
  }
}
</style>
