<template>
  <!-- Recorre el arreglo user.data , cada posicion genera un user component con los datos del usuario -->
  <div v-for="user in users.data" :key="user.id">
    <UserHorizontalComponent :username  = "user.name" :userLastName = "user.last_name" :userImage = "user.image" @click = "goToUserSearched(user.id)"/>
  </div>

</template>

<script>
import {useRoute} from "vue-router";
import axios from "axios";
import UserHorizontalComponent from "@/components/UserHorizontalComponent.vue";

export default {
  name: "SearchUserView",
  components: {UserHorizontalComponent},
  beforeMount() {
    const route = useRoute()
    // Se obtiene desde la ruta el parametro toSearch
    this.toSearch = route.params.toSearch
    this.getUsersFromSearch()
  },
  data() {
    return {
      // Se accede al token guardado local
      bearer: localStorage.getItem("token"),
      toSearch: "",
      users: [],
      username : "hola"
    }
  },
  methods: {
    // Peticion para buscar los usuarios que coincidan con el buscado
    async getUsersFromSearch() {
      this.users = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/users/search?s=${this.toSearch}`, {
        headers: {
          Authorization: "Bearer " + "" + this.bearer
        }
      })
    },
     // Al hacer click en un usuario este nos manda a la vista de perfil del usuario por su id
     goToUserSearched(user_id){
      console.log(user_id)
      this.$router.push({ name: "profileView", params: { userId: user_id} });

    }
  }

}
</script>

<style scoped>

</style>