<template>

  <div class="main" :style="mainStyle">
    <h1>Registro</h1>
      <input
          type="text"
          name="name"
          id="name"
          v-model="name"
          placeholder="Nombre(s)"
          :style="input"
      />
      <input
          type="text"
          name="lastname"
          id="lastname"
          v-model="lastname"
          placeholder="Apellido(s)"
          :style="input"
      />
    <input
        type="text"
        name="email"
        v-model="email"
        id="email"
        placeholder="Correo Electroníco"
    />
    <input
        type="password"
        name="password"
        id="password"
        v-model="password"
        placeholder="Contraseña"
        :style="input"
    />
    <input
        type="password"
        name="passwordConfirm"
        id="passwordConfirm"
        v-model="passwordConfirm"
        placeholder="Confirmar Contraseña"
        :style="input"
    />
    <input
        type="button"
        value="Registrarse"
        class="button"
        :style="inputStyle"
        @click=createUser()
    />
    <h4>Tienes cuenta? <router-link to="/login">Inicia Sesion</router-link></h4>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "SignUpView",
  data(){
    return{
      name:null,
      lastname: null,
      email: null,
      password:null,
      passwordConfirm: null,
    }
  },
  methods:{
    async createUser(){
      if(this.name && this.lastname && this.email && this.password && this.passwordConfirm){
        if(this.password === this.passwordConfirm){
          const newUser = await axios.post("https://balandrau.salle.url.edu/i3/socialgift/api/v1/users",
              {
                name: this.name,
                lastname: this.lastname,
                email: this.email,
                password: this.password,
                image: "https://balandrau.salle.url.edu/i3/repositoryimages/photo/47601a8b-dc7f-41a2-a53b-19d2e8f54cd0.png"
              })
          if(newUser.status === 201){
            alert("User successfully created. Welcome!!")

          }
        } else{
          alert("Please verify password")
        }
      }else{
        alert("Some fields are missing")
      }

    }
  }
}
</script>

<style scoped>
@import '@/assets/loginAndSignUp.css';

.main {
  top: 10%;
}
</style>
