<template>
<div>
    <!-- Se define un v-for dentro de un router-link para cuando se haga click dentro del componet haga la accion -->
    <router-link :to="{name: 'wishlistView', params:{ wishlistId: wishlist.id}}" style="text-decoration: none; color: inherit;" v-for="wishlist in wishlists" :key="wishlist.id">
        <home-card-component :user_id="wishlist.user_id" :wishlistName="wishlist.name"/>
    </router-link>
</div>

</template>

<script>
import HomeCardComponent from "@/components/HomeCardComponent.vue";
import axios from "axios";

export default {
  beforeMount() {
    this.getUserInfo()
  },
  name: "starterHomeView",
  components: {HomeCardComponent},
  data(){
    return {
      bearer: localStorage.getItem("token"),
      wishlists: null,
    }
  },
  methods :{
    // Se obtiene la informacion del usuario
    async getUserInfo(){
      this.wishlists = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/wishlists`,{
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
      let wishlists = this.wishlists.data.reverse();
      wishlists = wishlists.slice(0,40)
      this.wishlists =wishlists

    }
  }
}
</script>

<style scoped>

</style>