<template>

  <div class="container">
    <h1>{{this.items.data.name}}</h1>
    <p>{{ this.items.data.description }}</p>
<!--    El contenido del div es visible solo si el usuario autenticado es dueño -->
    <div class="buttons" v-if="owner">
      <button class="button" type="button" @click="showModal = true">Edit Wishlist</button>
      <button class="button" type="button" @click="showConfirmation = true">Delete Wishlist</button>
    </div>
    <div class="add-button" v-if="owner">
      <router-link
          :to="{name: 'itemsView'}"
          v-slot="{ navigate }"
      >
        <button
            class="button"
            @click="navigate"
            role="link"
        >
          Add Item
        </button>
      </router-link>
    </div>

    <div class="card" v-for="item in items.data.gifts" :key="item.id">
      <wishlist-item-component :ownerId="this.owner_id" :id="item.id" :priority="item.priority" :product_url="item.product_url" :booked="item.booked"></wishlist-item-component>
    </div>
  </div>
  <modal v-if="showModal" @close="showModal = false">
  </modal>
  <edit-wishlist-modal-component v-if="showModal" @close="showModal = false"></edit-wishlist-modal-component>
  <confirmation-modal-component v-if="showConfirmation" @close="showConfirmation = false"></confirmation-modal-component>
</template>

<style scoped>

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 2%;
  }

  .buttons {
    flex-direction: column;
    align-items: center;
  }

  .buttons button {
    margin-right: 0;
    align-items: center;
  }
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 2%;
  text-align: center;
}

.container h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line on smaller screens */
  justify-content: space-between; /* Distribute buttons evenly */
  margin-bottom: 20px;
}

.buttons button {
  flex-grow: 1; /* Allow buttons to grow and distribute evenly */
  flex-basis: 0; /* Ensure equal width for all buttons */
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.buttons button:last-child {
  margin-right: 0;
}

.buttons button:hover {
  background-color: skyblue;
}

.add-button {
  display: flex;
  justify-content: center; /* Center align the "Add item" button */
}

.add-button button {
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.add-button button:hover {
  background-color: skyblue;
}


</style>
<script>
import WishlistItemComponent from "@/components/WishlistItemComponent.vue";
import axios from "axios";
import EditWishlistModalComponent from "@/components/EditWishlistModalComponent.vue";
import ConfirmationModalComponent from "@/components/ConfirmationModalComponent.vue";
export default {
  beforeMount() {
    this.getItems()
  },
  components: {ConfirmationModalComponent, EditWishlistModalComponent, WishlistItemComponent},
  data(){
    return{
      bearer: localStorage.getItem("token"),
      userId: localStorage.getItem("userId"),
      items: [],
      owner: false,
      showModal: false,
      showConfirmation: false,
      owner_id: null
    }
  },
  props: {
    wishlistId: Number,
  },
  methods: {
    async getItems(){
      this.items = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/wishlists/${this.wishlistId}`, {
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
      this.owner_id = this.items.data.user_id
      if(this.userId == this.owner_id){
        this.owner = true
      } else{
        this.owner = false
      }
    }
  }
}

</script>
