<template>
  <!-- Se utiliza el nombre sidebar para especificar que es la barra lateral en el home -->
  <div class="sidebar">
    <h2>Chats</h2>
    <!--  chat-list hace referencia a una lista que contendra los chats que el usuario autenticado tiene  -->
    <ul class="chat-list">
      <li v-for="chat in chats" :key="chat.id" class="chat-item" @click="goToChats(chat.id)">
        <div class="profile-pic">
          <img :src="chat.image" alt="Profile Picture" />
        </div>
        <!-- Se da este nombre para especificar que tendra los datalles en la parte de chat -->
        <div class="chat-details">
          <h3>{{ chat.name +" " + chat.last_name }}</h3>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";

export default {
  // Se utiliza para hacer la peticion antes de que la pantalla este montada
  beforeMount() {
    this.getChats()
  },
  name: "ChatsComponent",
  // Definicion de datos
  data() {
    return {
      token: localStorage.getItem("token"),
      chats: []
    };
  },
  methods: {
    // Al hacer click en una chat este nos manda a la pantalla chat con el usuario el que eligió
    goToChats(userId){
      this.$router.push({ name: "chat", params: { userId: userId } });
    },
    // Obtener chats
    async getChats() {
      try {
        const response = await axios.get(
            "https://balandrau.salle.url.edu/i3/socialgift/api/v1/messages/users",
            {
              headers: {
                Authorization: "Bearer " + this.token
              }
            }
        );
        this.chats = response.data; // Asigna los datos a la variable 'chats'
      } catch (error) {
        console.error("Error al obtener los chats:", error);
      }
    }
  },
};
</script>

<style scoped>
/*Se especifica que este tendra el 100% del tamaño disponible */
.sidebar {
  width: 100%;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

.chat-list {
  list-style-type: none;
  padding: 0;

}

.chat-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  cursor: default;
}

.profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat-details {
  margin-left: 10px;
}

</style>

