<template>
<!--  Este modal nos permite confirmar con el usuario si desea eliminar una wishlist-->
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Seguro que desea eliminar?
            </slot>
          </div>
          <div class="modal-footer">
            <slot name="footer">
              <input
                  id="buttonEliminar"
                  type="button"
                  value="Eliminar"
                  class="button"
                  @click=deleteWishlist()
              />
<!--              Con el elmit close podemos decirle al componente padre que deje dde mostrar el modal-->
              <input
                  type="button"
                  value="Cancelar"
                  class="button"
                  @click="$emit('close')"
              />
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import {useRoute} from "vue-router";
import axios from "axios";

export default {
  name: "ConfirmationModalComponent",
  data(){
    return{
      bearer: localStorage.getItem("token"),
      userId: localStorage.getItem("userId")
    }
  },
  methods:{
    async deleteWishlist(){
      //Para eliminar las wishlist es necesario eliminar todos los objetos que incluye primero
      const route = useRoute()
      const wishlistId = route.params.wishlistId
      const wishlist = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/wishlists/${wishlistId}`,{
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
      const items = wishlist.data.gifts
      for(let i = 0; i<=items.length-1; i++){
        await axios.delete(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/gifts/${items[i].id}`,{
          headers:{
            Authorization: "Bearer " + ""+ this.bearer
          }
        })
      }
      await axios.delete(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/wishlists/${wishlistId}`, {
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
      //Al eliminar la wishlist mandamos al usuario a la ventana de perfil
      this.$router.push({ name: 'profileView', params: { userId: this.userId } });
      this.$emit('close');
    }
  }
}
</script>

<style scoped>

/*El style del modal hacemos que la pagina se sombree y presente mejor el modal*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

input {
  border-radius: 3rem;
  border:  1px solid rgba(0, 0, 0, .1);
  padding: 10px;
  text-align: center;
  outline: none;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
input:hover {
  box-shadow: 0px 0px 8px -5px #000000;
}

.button{
  color: white;
  background: rgb(135,206,235)


}
.button:active {
  color: #666;;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

#buttonEliminar{
  background-color: lightcoral;
}


</style>

