<template>
<!--  Este modal nos presenta un form donde podemos ingresar los datos de la nueva wishlist-->
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Agregar Wishlist
            </slot>
          </div>

          <div class="modal-body">
            <div class="main">
              <input
                  type="text"
                  name="name"
                  id="name"
                  v-model="name"
                  placeholder="Nombre"
              />
              <input
                  type="text"
                  name="description"
                  id="description"
                  v-model="description"
                  placeholder="Descripcion"
              />
              <input
                  type="date"
                  name="end_date"
                  id="end_date"
                  v-model="end_date"
                  placeholder="Fecha fin"
              />

            </div>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <input
                  type="button"
                  value="Crear"
                  class="button"
                  @click=createWishlist()
              />
<!--              El emit nos permite informarle al componente padre que deje de mostrar el modal-->
              <input
                  type="button"
                  value="Cancelar"
                  class="button"
                  @click="$emit('close')"
              />
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import axios from "axios";

export default {
  name: "CreateWishlistModalComponent",
  data(){
    return{
      name:null,
      description:null,
      end_date: null,
      bearer: localStorage.getItem("token"),
      newWishlist: null
    }
  },
  methods:{
    async createWishlist(){
      const date = new Date(this.end_date)
      //Verificamos que la fecha de finalizacion sea valida
      if(date < Date.now()){
        alert("La fecha de fin no es valida")
      } else {
        this.newWishlist = await axios.post("https://balandrau.salle.url.edu/i3/socialgift/api/v1/wishlists", {
          name: this.name,
          description: this.description,
          end_date: date.toISOString().toString()
        }, {
          headers: {
            Authorization: "Bearer " + "" + this.bearer
          }
        })
      }
      //Con un alert le permitimos saber al usuario que su wishlist se ha creado con exito
      if(this.newWishlist.status === 201){
        alert("Wishlist creada exitosamente")
      } else {
        alert("No fue posible agregar la wishlist")
      }
      this.$emit('close');
      //Al recargar la pagina despues de crear la wishlist podemos obtener nuevamente la informacion y mostrar la nueva wishlist
      location.reload()

    }
  }
}
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  padding: 5% 7%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 5% 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  transform: scale(1.1);
}

input {
  border-radius: 3rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 2%;
  text-align: center;
  outline: none;
  margin: 2% 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

input:hover {
  box-shadow: 0px 0px 8px -5px #000000;
}

.button {
  color: white;
  background: rgb(135, 206, 235);
}

.button:active {
  color: #666;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

</style>
