
<style scoped>

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

input {
  border-radius: 3rem;
  border:  1px solid rgba(0, 0, 0, .1);
  padding: 10px;
  text-align: center;
  outline: none;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
input:hover {
  box-shadow: 0px 0px 8px -5px #000000;
}

.button{
  color: white;
  background: rgb(135,206,235)


}
.button:active {
  color: #666;;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

#buttonElimminar{
  background-color: lightcoral;
}


</style>
<template>
<!--  En este modal le pedimos al usuario confirmar si desea eliminar el usuario-->
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              Seguro que desea eliminar el perfil?
            </slot>
          </div>
          <div class="modal-footer">
            <slot name="footer">
              <input
                  id="buttonElimminar"
                  type="button"
                  value="Eliminar"
                  class="button"
                  :style="inputStyle"
                  @click=deleteProfile()
              />
              <input
                  type="button"
                  value="Cancelar"
                  class="button"
                  @click="$emit('close')"
              />
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
import axios from "axios";

export default {
  name: "DeleteProfileConfirmation",
  data(){
    return{
      bearer: localStorage.getItem("token"),
      userId: localStorage.getItem("userId")
    }
  },
  methods:{
    async deleteProfile(){
      await axios.delete(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/users`,{
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
      //Al eliminar, el usuarios es redireccionado al signup
      this.$router.push({ name: 'signup'});
    }
  }

}
</script>


