<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  padding: 5% 7%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 5% 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  transform: scale(1.1);
}

input {
  border-radius: 3rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 2%;
  text-align: center;
  outline: none;
  margin: 2% 0;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

input:hover {
  box-shadow: 0px 0px 8px -5px #000000;
}

.button {
  color: white;
  background: rgb(135, 206, 235);
}

.button:active {
  color: #666;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

</style>


<template>
<!--  En este componente se le presenta al usuario una forma que debe llenar con los nuevos datos de usuario-->
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <slot name="header">
              Editar Perfil
            </slot>
          </div>
<!--          Dentro del body se encuentran los campos que debe de llenar el usuario -->
          <div class="modal-body">
            <div class="main" >
              <input
                  type="text"
                  name="name"
                  id="name"
                  v-model="name"
                  placeholder="Nombre"
              />
              <input
                  type="text"
                  name="lastname"
                  id="lastname"
                  v-model="lastname"
                  placeholder="Apellidos"
              />
              <input
                  type="text"
                  name="email"
                  id="email"
                  v-model="email"
                  placeholder="email"
              />
              <input
                  type="password"
                  name="password"
                  id="password"
                  v-model="password"
                  placeholder="Contraseña"
              />
            </div>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              <input
                  type="button"
                  value="Aceptar"
                  class="button"
                  @click=editProfile()
              />
              <input
                  type="button"
                  value="Cancelar"
                  class="button"
                  @click="$emit('close')"
              />
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import axios from "axios";

export default {
  name: "EditProfileComponent",
  data(){
    return{
      name:null,
      lastname:null,
      email: null,
      password: null,
      image: "https://balandrau.salle.url.edu/i3/repositoryimages/photo/47601a8b-dc7f-41a2-a53b-19d2e8f54cd0.png",
      bearer: localStorage.getItem("token"),
      userId: localStorage.getItem("userId")
    }
  },
  methods:{
    async editProfile(){
      await axios.put(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/users`, {
        name: this.name,
        lastname: this.lastname,
        email: this.email,
        password: this.password,
        image: this.image
      },{
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
    }
  }
}
</script>

