<template>
  <div class="card">
    <div class="profile-section">
      <img :src="this.user.data.image" class="profile-pic" alt="Profile Picture" />
      <div class="user-details">
        <h2>
          <span class="username">{{ this.user.data.name }} {{this.user.data.last_name}} agregó una nueva wishlist " {{ this.wishlistName }} " </span>
        </h2>
      </div>

    </div>
    <div class="gift-section">
      <!--   Ya que el servicio no obtiene imagenes y para ser fieles al diseño proporcionamos una
       imagen de forma v-bind preparandonos para futuras implementaciones de esta funcionalidad   -->
      <img :src="imagen" class="gift-image" alt="Gift Image" />
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "HomeCardComponent",
   async beforeMount() {
     await this.getUserInfo()
  },
  data() {
    return {
      // PlaceHolder imagen
      imagen: "https://www.collinsdictionary.com/images/full/gift_671071780_1000.jpg",
      user: {
        data: {
          name : "placeholder"
        }
      },
      // Token autenticación
      bearer: localStorage.getItem("token")

    };
  },
  props: {
    wishlistName: {type:String, required: true},
    user_id: { type: Number, required: true }
  },
  methods: {
    // Se obiene el usuario por id que pedimos en nuestros props
    async getUserInfo() {
      this.user = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/users/` + this.user_id, {
        headers: {
          Authorization: "Bearer "  + this.bearer
        }

      })
    }

  }
};
</script>

<style scoped>
.card {
  display: flex;
  width: 80%;
  margin: 30px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-details {
  margin-left: 10px;
}

.username {
  display: inline-block;
}

.gift-section {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.gift-image {
  width: 100px;
  height: 100px;
}
</style>

