<style>
@media screen and (max-width: 768px) {
  .card {
    max-width: 100%;
  }

  .priority {
    flex-basis: 100%;
  }

  .image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .details,
  .action {
    flex-basis: 100%;
  }

  .details h2 {
    font-size: 16px;
    line-height: 20px;
  }
}

.card {
  width: 500px;
  height: auto;
  background: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #efefef;
  border-radius: 4px;
  overflow: hidden;
}

.card .priority {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  border-bottom: 2px solid #efefef;
}

.card .priority span {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.card .content {
  display: flex;
}

/* Alineamos la imagen para que se encuentre en el centro de la card */
.card .content .image {
  padding: 3%;
  text-align: center;
}

/* Se le asigna un tamaño maximo a la imagen del producto*/
.card .content .image img {
  max-height: 200px;
}

.card .content .details {
  padding: 30px;
  flex-grow: 1;
  border-left: 2px solid #efefef;
  overflow: hidden;
}

.card .content .details h2 {
  color: #515151;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.card .content .details p {
  font-size: 14px;
  line-height: 20px;
  color: #727272;
  padding: 20px 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .content .action {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.card .content .action button {
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.card .content .action button:hover {
  background-color: skyblue;
}

</style>


<template>
<!--  Se muestran las cards de aritulos unicamente si no estan agregadas a la awishlist del usuario-->
<!--  Se crea un div con clase card que incluira toda la informacion de los articulos-->
  <div class="card" v-if="!added">
<!--    Se asigno una clase al div que incluye unicamente el precio para poderlo posicionar como mas convenga-->
    <div class="priority">
      <span>${{ this.price }}</span>
    </div>
<!--    El div content incluye la demas información del artículo -->
<!--    Dentro del content se pueden encontrar mas divs en los que se asignara la informacion correspondiente para de esta forma poderla acomodar mejor -->
    <div class="content">
      <div class="image">
        <img :src="this.photo" alt="Item Image">
      </div>
<!--      El div de details incluye el nombre y la descripcion del articulo -->
      <div class="details">
        <h2>{{ this.name }}</h2>
        <p>{{this.description}}</p>
      </div>
<!--      El boton nos permite agregar a la wishlist el articulo que muestra la card, se utilizaron los iconos de Font Awesome para poder hacer el boton-->
      <div class="action">
        <button @click="this.addToWishlist()"><i class="fa-regular fa-heart"></i></button>
      </div>
    </div>
  </div>

</template>

<script>
import {useRoute} from "vue-router";
import axios from "axios";

export default {
  name: "ItemComponent",
  beforeMount() {
    this.getWishlistItems()
  },
  data(){
    return{
      added: false,
      bearer: localStorage.getItem("token"),
      userId: localStorage.getItem("userId"),
      itemsInWishlist: null,
      idItemsInWishlist: []
    }
  },
  props: {
    id: Number,
    price: Number,
    name: String,
    description: String,
    photo: String,
    url: String,
  },
  methods:{
    //Con este metodo obtenemos todos los articulos que hay en la wishlist del usuario para poder determinar si ya tiene un articulo agregado o no
    async getWishlistItems(){
      const route = useRoute()
      const wishlistId = route.params.wishlistId
      const response = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/wishlists/${wishlistId}`, {
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
      this.itemsInWishlist = response.data.gifts
      for(let i =0; i<= this.itemsInWishlist.length-1; i++){
        const addedItemSplit = this.itemsInWishlist[i].product_url.split("/");
        const addedItemId = addedItemSplit[addedItemSplit.length - 1]
        this.idItemsInWishlist.push(addedItemId)
      }
      if(this.idItemsInWishlist.includes(this.id.toString())){
        this.added = true
      }
    },
    //Para agregar a la wishlist del usuario tomamos el valor de la wishlist del parametro de la url
    async addToWishlist() {
      const route = useRoute();
      const wishlistId = route.params.wishlistId;
      try {
        const response = await axios.post(
            `https://balandrau.salle.url.edu/i3/socialgift/api/v1/gifts`,
            {
              wishlist_id: wishlistId,
              product_url: this.url,
              //Para la prioridad se utiliza el tamaño del arreglo de los objetos en la wishlist y se le suma uno
              priority: this.itemsInWishlist.length + 1
            },
            {
              headers: {
                Authorization: "Bearer " + "" + this.bearer
              }
            }
        );
        //Una vez que se agrega el item marcamos el added como true para que se actualize la informacion en pantalla
        this.added = true;
        this.itemsInWishlist.push(response.data);
      } catch (error) {
        console.error(error);
      }
    },
  },

}
</script>
