
<template>
<!--  Se define la navbar-->
  <nav>
    <ul class="nav-list">
      <li class="nav-item">
        <router-link to="/"><img src="src/assets/images/Logo.png" alt="logo" style="width: 50px; height: 50px"></router-link>
      </li>
      <li class="nav-item search-bar">
        <input type="text" placeholder="Buscar" v-model= "toSearch"  @keyup.enter = "this.search"/>
      </li>
      <li class="nav-item">
        <router-link :to="{name: 'profileView', params:{ userId: this.userId}}" style="text-decoration: none; color: inherit;"> Perfil </router-link>
      </li>
      <li class="nav-item">
        <router-link to="/login" @click = "this.logOut">Log out</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
import { RouterLink } from 'vue-router';
export default {

  name: "NavBarComponent",
  components: {
    'router-link': RouterLink
  },
  data(){
    return{
      userId: localStorage.getItem("userId"),
      toSearch: ""
    }
  },
  methods: {
    // Metodo para hacer logout mandando directamente a iniciar sesion
    logOut(){
      localStorage.removeItem("userId")
    },
    // Se utiliza para buscar por los caracteres que se escriban, verificando que no este vació
    search(){
      if (this.toSearch.trim() !== "") {
        this.$router.push({name: "search", params: {toSearch: this.toSearch}});
      }
    }
  }
}
</script>

<style scoped>
:root {
  /*   color variables */
  --clr-primary: #6aeeb5;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;

  /*   border radius */
  --radius: 0.2rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background: var(--clr-gray100);
}

.nav-list {
  background: rgb(135,206,235);
  box-shadow: 0px 0px 10px var(--clr-gray200);
  padding: 1rem 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: var(--clr-primary-dark);
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}


.search-bar {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem;
  border-radius: var(--radius);
  border: none;
  outline: none;
}

</style>
