<style scoped>


.card {
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  background-color: #fff;
}

.card header {
  padding: 10px 20px;
  background-color: lightblue;
  color: #fff;
}

.card header h3 {
  margin: 0;
  font-size: 16px;
}

.card .photo {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .description {
  padding: 20px;
}

.card .description h2 {
  margin: 0;
  font-size: 18px;
}

.card .description p {
  margin-top: 10px;
  font-size: 14px;
  color: #727272;
}

.card .description button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: lightblue;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.card .description button i {
  margin-right: 5px;
}
</style>



<template>
<!--  Con este mostramos la informacion de los articulos que el usuario autenticado ha reservado-->
  <div class="card">
    <header style="margin-left: 0">
      <h3>{{ this.priority }}</h3>
    </header>
    <div class="photo">
      <img :src="this.photo">
    </div>
    <div class="description">
      <h2> {{this.name}} </h2>
      <p>{{this.description}}</p>
      <button @click="this.executeMethod()"><i :class="{'fa-solid fa-handshake': this.booked, 'fa-regular fa-handshake': !this.booked}"></i></button>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  beforeMount() {
    this.getItem()
  },
  name: "ReservedItemComponent",
  data(){
    return{
      bearer: localStorage.getItem("token"),
      userId: localStorage.getItem("userId"),
      item: null,
      name: null,
      description: null,
      photo: null,
      price: null,
    }
  },
  props: {
    id: Number,
    booked: Boolean,
    priority: Number,
    product_url: String,
  },
  methods: {
    async getItem(){
      const response = await axios.get(this.product_url)
      this.item = response.data
      this.name = response.data.name
      this.description = response.data.description
      this.photo = response.data.photo
    },
    async executeMethod() {
      if (this.booked) {
        await this.unbook();
      }
      location.reload();
    },
    //El usuario puede hacer unbook al articulo desde este componente
    async unbook() {
      await axios.delete(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/gifts/${this.id}/book`,{
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
    }
  }
}
</script>


