<style scoped>
@media (max-width: 768px) {
  .user-card {
    width: 80%;
  }

  .profile-picture img {
    width: 100px;
    height: 100px;
  }

  .name h3 {
    font-size: 18px;
  }

  .buttons button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .user-card .actions {
    padding: 0 1rem 0.8rem;
  }
}

.container {
  display: flex;
  justify-content: center; /* Aqui centramos la card */
  align-items: center;
  height: 350px; /* El height en auto permite que la card se ajuste dependiendo el alto de la imagen del usuario*/
}

.user-card {
  width: 350px;
  background: white;
  border: 1px solid #efefef;
  border-radius: 4px;
  text-align: center;
  padding: 30px;
  height: 350px;
}

.profile-picture {
  margin-bottom: 10px;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.name {
  margin-bottom: 10px;
}

.name h3 {
  margin: 0;
  color: #515151;
  font-weight: bold;
}

/*Los buttons los hacemos flex y que haya espacio entre ellos para que queden mejor dentro de la card*/
.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: skyblue;
}

/* Se centra el contenido de las actions dentro de la card para que queden justo debajo de la imagen del usuario*/
.user-card .actions {
  padding: 0 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 99;
}
.user-card .actions .follow-info {
  padding: 0 0 1rem;
  display: flex;
  position: center;
}
.user-card .actions .follow-info h2 {
  text-align: center;
  /*width: 50%;*/
  margin: 0;
  box-sizing: border-box;
}
.user-card .actions .follow-info h2 a {
  text-decoration: none;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  transition: background-color 100ms ease-in-out;
}
.user-card .actions .follow-info h2 a span {
  color: #1c9eff;
  font-weight: bold;
  transform-origin: bottom;
  /*transform: scaleY(1.3);*/
  transition: color 100ms ease-in-out;
}
.user-card .actions .follow-info h2 a small {
  color: #afafaf;
  font-size: 0.85rem;
}
.user-card .actions .follow-info h2 a:hover {
  background-color: #f2f2f2;
}
.user-card .actions .follow-info h2 a:hover span {
  color: #007ad6;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #007ad6;
  cursor: pointer;
  transition:.5s;
}
.user-card .banner svg:hover {
  transform: translateY(50%) scale(1.3);
}
</style>

<template>
  <!--  Este componente es la card con la informacion de los usuarios, se encerro dentro de un div cointainer para centrarla -->
  <div class="container">
    <!--    El dv user'card incluye toda la informacion de los usuarios-->
    <div class="user-card">
      <!--        En el div the profile'picture se utiliza el v'bind para poder tomar la propiedad del componente aque incluye la imagen-->
      <div class="profile-picture">
        <img :src="this.profile_image" alt="Profile Picture">
      </div>
      <div class="name">
        <h3>{{this.user_name }}</h3>
      </div>
      <!--        En el div actions se inclye un span que permite ver los maigos totales del usuario y al hacer click se accede a otra vista con la lista de usuarios-->
      <div class="actions">
        <!--          Cambiar path por name y agregar parametros params:{ userId: userId}}-->
        <router-link  class="slider-item" :to="{name: 'friendsList', props: {userId:this.userId}}" style="text-decoration: none; color: inherit;" :key="userId">
          <div class="follow-info">
            <h2><a ><span>{{this.friends_counter}}</span><small>Amigos</small></a></h2>
          </div>
        </router-link>

        <!--        El div buttons incluye dos bottones que se muestran si el usuario autenticado esta viendo el perfil de otro usuario-->
        <div class="buttons" v-if="!owner">
<!--          Con este router link podemos acceder al chat con el usuario de la card-->
          <router-link
              :to="{name: 'chat', params:{ userId: this.userId}}"
              v-slot="{ navigate }"
          >
            <button
                @click="navigate"
                role="link"
                class="button"
            ><i class="far fa-envelope"></i>
            </button>
          </router-link>

          <!--          Este boton utiliza un v-if para determinar si el usuario autenticado ya es amigo del usuario mostrado en la card y ajusta el icono segun sea el caso -->
          <button @click="executeMethod()"><i :class="{'fa-solid fa-user-minus': this.areFriends, 'fas fa-user-plus': !this.areFriends}" ></i></button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import axios from "axios";
import {useRoute} from "vue-router";

export default {
  beforeMount() {
    this.checkFriends()
    const route = useRoute()
    this.userId = route.params.userId
  },
  name: "UserCardComponent",
  data(){
    return{
      areFriends: false,
      bearer: localStorage.getItem("token"),
      response: [],
      userId: 0
    }
  },
  props: {
    profile_image: String,
    user_name: String,
    email: String,
    image: String,
    friends_counter: Number,
    id: Number,
    owner: Boolean,

  },
  methods: {
    async checkFriends(){
      //Se obtiene la lista de amigos del usuario para determinar si el usuario autenticado es amigo del usuario de la card
      this.response = await axios.get(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/friends`,{
            headers:{
              Authorization: "Bearer " + ""+ this.bearer
            }
          }
      )
      const friends = this.response.data
      for(let i = 0; i<= friends.length; i++){
        if(friends[i].id == this.id){
          this.areFriends = true
        }
      }
    },
    async executeMethod(){
      if (this.areFriends) {
        await this.removeFriend();
      } else{
        await this.sendFriendRequest()
      }
      location.reload();
    },
    async sendFriendRequest(){
      await axios.post(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/friends/${this.id}`, {
      },{
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
    },
    async removeFriend(){
      await axios.delete(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/friends/${this.id}`,{
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
    }
  }
}
</script>
