<template>
  <div class="user-container">
    <div class="profile-pic">
      <img :src="this.userImage" alt="Profile Picture" />
    </div>
    <div class="user-details">
      <h3>{{ this.username + " " + this.userLastName }}</h3>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserHorizontalComponent",
  // Definicion de los props que debe recibir el componente
  props: {
    username: String,
    userLastName:String,
    userImage:String
  }
}
</script>

<style scoped>
.user-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-details {
  margin-left: 10px;
}

</style>