<template>
<!--  La card de los articulos de wishlist nos presenta diferentes opciones dependiendo si la wishlist pertenece al usuario autenticado o no-->
  <div class="card">
<!--    Priority es un div dinamico que nos permite ver la prioridad del articulo y si presionamos el boton edit passa a ser un campo de texto donde podemos poner una nueva prioridad-->
    <div class="priority">
      <span v-if="!isEditing">{{ this.priority }}</span>
      <input v-else v-model="editedPriority" />
<!--      El boton para editar unicamente aparece si el usuario autenticado es propietario de la wishlist-->
      <button v-if="owner" @click="toggleEdit">{{ isEditing ? 'Save' : 'Edit' }}</button>
    </div>
    <div class="content">
      <div class="image">
        <img :src="this.photo" alt="Item Image">
      </div>
      <div class="details">
        <h2>{{ this.name }}</h2>
        <p>{{this.description}}</p>
      </div>
<!--      Las acciones tambien dependen del usuario, si le pertenece al usuario autenticado podra quitarlo de su wishlist, si no es el propietario, tendra la opcio de reservar -->
      <div class="action">
<!--        El boton de reserva cambia dependiendo de si el articulo ya fue reservado-->
        <button v-if="!owner" @click="this.executeMethod()"><i :class="{'fa-solid fa-handshake': this.booked, 'fa-regular fa-handshake': !this.booked}"></i></button>
        <button v-if="owner" @click="this.removeFromWishlist()"><i class="fa-solid fa-heart"></i></button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import {useRoute} from "vue-router";

export default {
  beforeMount(){
    this.getItem()
  },
  name: "WishlistItemComponent",
  data(){
    return{
      bearer: localStorage.getItem("token"),
      userId: localStorage.getItem("userId"),
      item: null,
      name: null,
      description: null,
      photo: null,
      price: null,
      owner: false,
      isEditing: null,
      editedPriority: null,
    }
  },
  props: {
    id: Number,
    booked: Boolean,
    priority: Number,
    product_url: String,
    ownerId: String
  },
  methods: {
    async getItem(){
      //Para obtener los articulos, tomamos de las propiedades la url del articulo y realizamos la peticion
      const response = await axios.get(this.product_url)
      if(this.userId == this.ownerId){
        this.owner = true
      } else{
        this.owner = false
      }
      this.item = response.data
      this.name = response.data.name
      this.description = response.data.description
      this.photo = response.data.photo
    },
    //Con este metodo podemos tanto apartar como des apartar los productos de la wishlist
    async executeMethod() {
      if (this.booked) {
        await this.unbook();
      } else {
        await this.book();
      }
      location.reload();
    },
    async unbook() {
      await axios.delete(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/gifts/${this.id}/book`,{
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
    },
    async book() {
      await axios.post(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/gifts/${this.id}/book`,{},{
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
    },
    async removeFromWishlist(){
      await axios.delete(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/gifts/${this.id}`,{
        headers:{
          Authorization: "Bearer " + ""+ this.bearer
        }
      })
      location.reload()
    },
    //El toggle edit nos permite determinar si se esta editando o no y una ves que se termino de editar se guarda la nueva prioridad
    async toggleEdit() {
      const route = useRoute()
      const wishlistId = route.params.wishlistId
      if (this.isEditing) {
        this.content = await axios.put(`https://balandrau.salle.url.edu/i3/socialgift/api/v1/gifts/${this.id}`, {
          wishlist_id: wishlistId,
          priority: this.editedPriority
        },{
          headers:{
            Authorization: "Bearer " + ""+ this.bearer
          }
        })
        location.reload()
      } else {
        this.editedPriority = this.content;
      }
      this.isEditing = !this.isEditing;
    },
  }
}
</script>

<style>
@media screen and (max-width: 768px) {
  .card {
    max-width: 100%;
  }

  .priority {
    flex-basis: 100%;
  }

  .image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .details, .action {
    flex-basis: 100%;
  }

  .details h2 {
    font-size: 16px;
    line-height: 20px;
  }
}

.card {
  display: flex;
  border: 1px solid #efefef;
  border-radius: 8px;
  padding: 10px;
  width: 400px;
  margin-bottom: 20px;
  margin-right: 20px;
  height: auto;
}

.card:last-child {
  margin-right: 0;
}

.priority {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priority span {
  font-weight: bold;
  margin-bottom: 5px;
}

.priority input[type="text"] {
  margin-bottom: 5px;
}

.priority button {
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  cursor: pointer;
}

.priority button:hover {
  background-color: skyblue;
}

.content {
  display: flex;
}

.image {
  width: 150px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

.details {
  flex-grow: 1;
  width: 100px;
}

.details h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.action {
  display: flex;
  align-items: center;
  width: 50px; /* Adjust the width as needed */
}

.action button {
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.action button:hover {
  background-color: skyblue;
}
</style>
