<template>
<!--  Esta car nos permite ver la informacion de nuestras wishlist-->
    <div class="main">
          <div class="card">
            <div class="card_price">{{ this.end_date }}</div>
<!--            Se puso un placeholder de imagen de wishlist-->
            <div class="card_image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ26y204JkbUGdtgp3uCIaGwCRmNxAwYy7MkQ&usqp=CAU"></div>
            <div class="card_content">
              <h2 class="card_title">{{ this.name }}</h2>
              <div class="card_text">
                <p>{{ this.description }}</p>
              </div>
            </div>
          </div>
    </div>
</template>

<script>
export default {
  name: "WishlistCardComponent",
  props: {
    name: String,
    end_date: String,
    description: String
  }
}
</script>

<style scoped>
body {
  background-color: #324968;
}

.main {
  margin: 0 auto;
}

.card_image {
  max-height: 250px;
  margin-top: -24px;
}
.card_image img {
  width: 100%;
  max-width: 800px;
  height: 100%;
  object-fit: cover;
}
.card_image:after {
  content: "";
  display: block;
  width: 100%;
  height: 100px;
  position: relative;
  top: -100px;
  background: linear-gradient(0deg, #091014 10%, rgba(0, 0, 0, 0) 100%);
}

.card {
  background-color: #091014;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  z-index: 1;
  display: block;
}

.card_title {
  font-size: 72px;
  line-height: 72px;
  margin-top: -50px;
  margin-bottom: 24px;
  text-shadow: black 1px 0 15px;
  color: white;
}

.card_text {
  color: #DDDACB;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}
.card_text p {
  max-width: 700px;
}

.card_price {
  position: relative;
  top: 10px;
  right: 16px;
  text-align: right;
  color: white;
  font-family: "Raleway", sans-serif;
  height: 24px;
  font-size: 36px;
  font-weight: 400;
  text-shadow: black 3px 0px 6px;
}

#item_fig .card:after {
  color: rgba(234, 225, 175, 0.8);
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  width: 10ch;
  height: 1.5em;
  padding: 0.2em 0.4em;
  position: relative;
  bottom: calc(100% - 2.5em);
  left: 1em;
}
</style>
