@import "./main.css";

.main {
    background: rgba(255, 255, 255);
    position: absolute;
    top: 15%;
    left: 30%;
    width: 40%;
    text-align: center;
    padding: 5px;
    border-radius: 3rem;
    box-shadow: 0px 0px 8px -5px #000000;
    padding: 2% 0% 3% 0%;
    font-family: "Poppins", sans-serif;
}
h1 {
    user-select: none;
}
h4 {
    user-select: none;
}
input {
    border-radius: 3rem;
    border:  1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    text-align: center;
    outline: none;
    margin: 10px;
    width: 50%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
input:hover {
    box-shadow: 0px 0px 8px -5px #000000;
}

.button{
    color: white;
    background: rgb(135,206,235)


}
.button:active {
    color: #666;;
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}
